body {
  background: rgb(227,197,173);
  background: linear-gradient(87deg, rgba(227,197,173,1) 7%, rgba(193,169,151,1) 32%, rgba(64,64,69,1) 100%);
  overflow: hidden;
  
}

.name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
  color: black;
  margin-top: -20px;
}

.des {
  margin: 10px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
  color: black;
}

.container {
  width: 1000px;
  height: 500px;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #4a2d21;
  margin-top: 50px;
  position: relative;
}

#slide {
  width: max-content;
  margin-top: 50px;
}

.item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.item:nth-child(3) {
  left: 50%;
}

.item:nth-child(4) {
  left: calc(50% + 220px);
}

.item:nth-child(5) {
  left: calc(50% + 440px);
}

.item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  font-family: system-ui;
}

.item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}

.item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}

.item .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.item button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.buttons {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(221, 184, 153);

  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.buttons button:hover {
  background-color:rgb(227,197,173);

}

.dashboard {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.dashboard h2 {
  font-size: 24px;
  color: #333;
}

.dashboard p {
  font-size: 16px;
  color: #666;
}

.buttons-top {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.buttons-top button {
  padding: 10px;
  border: none;
  background-color: rgb(231, 189, 155);
  ;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  margin-bottom: -900px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left-arrow{
  font-size: 50px;
  margin-left: -80px;
}